#lable{
    width: 250px;
    height: 150px;
    z-index: 10;
    background-color: #8475e0;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    border-radius: 25px;
    color: seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 8px #9086d1;
    margin-top: 15px;
    margin-left: 15px;
}